@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: rgb(238, 238, 238);
    color: #272727;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    padding: 0;
    margin: 0;

}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #007BFF;
}

.header-container {
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(248, 141, 47);
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
}

.search-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.header-icons-container {
    display: flex;
    gap: 40px; /* Расстояние между иконками */
    padding: 20px;
}

/* Стили для ссылок с SVG */
.icon-link {
    display: inline-block;
    width: 50px; /* Размер иконки */
    height: 50px;
    transition: transform 0.2s ease; /* Анимация при наведении */
}

.icon-link:hover {
    transform: scale(1.1); /* Увеличиваем иконку при наведении */
}

/* Стили для SVG */
.icon-link svg {
    width: 100%;
    height: 100%;
    fill: #007bff; /* Цвет иконки */
}

.icon-link:hover svg {
    fill: #0056b3; /* Цвет иконки при наведении */
}



.main-container {
    width: 1200px;
    display: flex;
    gap: 40px;

}

.filters {
    height: 400px;
    width: 250px;
    margin-right: 20px;
    background-color: rgb(248, 141, 47);
    border-radius: 10px;
    padding: 10px;
}

.filters h2, .products h2 {
    font-size: 18px;

}

.filters label {
    display: block;
    margin-bottom: 5px;
}
.filters input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.filters button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
.filters button:hover {
    background-color: #0056b3;
}

.items{
    width: 100%;
}

.catalogue {
    width: 100%;
    padding: 10px;
}
.catalogue-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(248, 141, 47);
    padding: 10px;
    height: 60px;
    margin-bottom: 20px;
}

.custom-select {
    width: 200px;
}
.custom-select select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}