.info {
    padding: 0px 70px;
    position: relative;
    color: rgb(206, 204, 204);
    font-size: 150%;
    min-height: calc(100vh - 7px);
}

h1 {
    color: #0bf387;
    text-align: center;
}

.open-p {
    color: #0bf387;
    line-height: 5px;
}

.text-p {
    text-indent: 20px;
}

p {
    line-height:30px;
}